
@{
    //Using this removed the need for header and !DOCTYPE stuff, since it already has it in the _Layout file
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
    @{
        ViewBag.Title = "Posts"; //Sets the title in _Layout
    }

    <div> 
        <h1>Posts Index</h1>

        @{  
        //Use @ symbol for C#
        //Tags tell razor it's html
        // @: works for single lines to treat as html
        }

        <!--These methods speak to the RouteConfig.cs file for link information-->
        <p>
           
            <a href="@Url.RouteUrl("login")">Click here</a> to login! <!--Don't use '/login' for the link!-->
        </p>

        <p>
            @Html.RouteLink("Click here", "login") to login! <!--Generates the href-->
        </p>
   
        <!--Throws itself to the _Layout RenderSection called 'Scripts' at the end of the layout-->      
@section Scripts
        {
        <script>
            //alert("DEUS VULT");
        </script>
        }
        

    </div>
