
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - BobBlog</title>
</head>
<body>
    <header>
        <h1>
            <a href="@Url.RouteUrl("home")">OMEGA VIRUS</a>
        </h1>
        <a href="@Url.RouteUrl("login")">Login</a>

    </header>

    <!--Insert View Here-->
    @RenderBody()

</body>
</html>
