
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <header>
        <h1>
            Simple Blog
        </h1>
    </header>

    <!--Insert View Here-->
    @RenderBody()

</body>
</html>
