
@{
    //Layout = null;
    //With this commented out, it grabs initial code from layout, including all of the initial html formatting
    
    //Sets Viewbag for the _Layout file it talks to
    ViewBag.Title = "Login";
}

<form method="Post">
    <input type="text" name="Username" />
    <input type="password" name="Password" />
    <input type="submit" value="Login" />
</form>

    <div> 
        <p>THIS IS THE LOGIN VIEW!</p>
    </div>
